<ion-view view-title="Login">
  <ion-content>
  	<div class= "centrado" >
  		<br>
  		<br>
  		<br>
  		<br>
  		<img src="https://i.pinimg.com/originals/a3/ef/f0/a3eff0fa248d6c3f87adc6f0c2a2b173.png" class="img"> <br><br>

  		<div class="usuario">
  			<label class="item item-input">
  	   		<input type="text" placeholder="Usuario">
  	  	</label>
  		  <br>
  		  <label class="item item-input">
  	  	  <input type="text" placeholder="Contraseña">
  			</label>
        <input type="password" name="password">
  			<button class="button button-outline button-positive ion-log-in">
   			 Ingresar
  			</button>
		  </div>

    </div>
  </ion-content>
</ion-view>