<ion-view view-title="Register">
  <ion-content>
    <link rel="stylesheet" href="../css/registro.css">
    <form action="index.html" method="post">
    <!--<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">-->

          
          <fieldset>
            <!--<div class="tit">BIENVENIDO A FUNACCOUNT</div>-->
            <img class="imgaa" src="http://www.padelparkleon.com/images.ashx?cmd=get&id=153">

            <label for="name">Name:</label>
            <input type="name" id="name" name="user_name" ng-model="user.name">
            
            <label for="mail">Email:</label>
            <input type="email" id="mail" name="user_email" ng-model="user.email">
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="user_password" ng-model="user.password">
            
          </fieldset>

          <button class="button button-outline button-positive ion-log-in" type="button" ng-click="validar(user)">Crear Cuenta</button>
        </form>

  </ion-content>
</ion-view>