

form {
  max-width: 900px;
  padding: 90px 30px;
  border-radius: 8px;
}

h1 {
  margin: 0 0 90px 0;
  text-align: center;
}

input[type="name"],
input[type="password"],
input[type="email"],

/*para los cuadritos en donde se ingresa la informacion*/
select {
  margin: 0 auto;
  /*background: rgba(255,255,255,0.1);*/
  border: 150px;
  border-color: black;
  font-size: 16px;  
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 60px;
  height: 320px;
  border-radius: 20px;
}

button {
  padding: 1px 3px 5px 3px;
  color: #FFF;
  background-color: #448ef6;
  font-size: 35px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 10px solid #448ef6;
  border-width: 10px 10px 30px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: 15px;
  background-color: #defcfc;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}

label.light {
  font-weight: 300;
  display: inline;
}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

/*.tit{
  color: black;
  background-color: #448ef6;
  font-family: 'Oswald', sans-serif; 
}*/
.imgaa{
  width: 220px;
  height: 190px;
  margin:10px auto;
  display:block;
}
